src/main/mule/airquality.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="airquality-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" />
    </http:listener-config>
    <apikit:config name="airquality-config" api="resource::ad30d2ec-566c-4843-a49d-80728a57ffdc:airquality:1.0.5:raml:zip:airquality.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="89ec3857-fe0d-468f-839f-ec65486df73b" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="rohitsharma09914@gmail.com" password="Rohit9914$" connectionTimeout="3000" readTimeout="3000" writeTimeout="3000">
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<api-gateway:autodiscovery apiId="17428033" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="864a0140-66b7-4737-90e9-71c6c70f7438" flowRef="airquality-main" />
	<flow name="airquality-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="airquality-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="airquality-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="airquality-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\airQuality:application\json:airquality-config">
		<flow-ref doc:name="Get Request from client and trigger the air quality endpoint" doc:id="0817f259-ca63-4d4c-a424-05b89cca20b2" name="Air-Quality-SubFlow"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Return a combined output for both weather and air quality">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<sub-flow name="Air-Quality-SubFlow" doc:id="4e81b335-9242-4f1e-93e0-7bfcb1f8abb6" >
		<set-variable value="#[attributes.queryParams.lon]" doc:name="Longitude Value" doc:id="4c6858d4-f72a-46a1-9597-af07370277a7" variableName="Long"/>
		<set-variable value="#[attributes.queryParams.lat]" doc:name="Latitude Value" doc:id="351ddf99-2efd-428b-9cf5-1c3ef6a8b365" variableName="Lat"/>
		<set-variable value="#[attributes.queryParams.key]" doc:name="API token " doc:id="e63c5b3e-7e71-4ceb-8fbf-3b83826bdc35" variableName="Key"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="06598303-9641-4e91-b5d5-36e2b2137b40" >
			<route >
				<try doc:name="Try" doc:id="d67136ba-2335-4c87-a155-6033569881af" >
					<http:request method="GET" doc:name="Request send for getting Air Quality Data" doc:id="2e07549a-da20-4405-ac2a-138dff87a98a" config-ref="HTTP_Request_configuration" path="#[p('airquality.path')]">
			<http:query-params><![CDATA[#[output application/java
---
{
	"appid" : vars.Key,
	"lat" : vars.Lat,
	"lon" : vars.Long
}]]]></http:query-params>
		</http:request>
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ff78a567-03c0-4d1a-b344-5513b13c75b2" type="ANY">
							<ee:transform doc:name="Error Continue to handle the error" doc:id="4f764048-89a8-4b21-9663-4df748481bac" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="05bab526-36ce-4281-b357-8ac6c8390e5f" >
					<http:request method="GET" doc:name="Request send for getting Weather Data" doc:id="a9eaefe5-fc22-48e9-a60f-144e00d02352" config-ref="HTTP_Request_configuration" path="#[p('weather.path')]">
			<http:query-params><![CDATA[#[output application/java
---
{
	"appid" : vars.Key,
	"lat" : vars.Lat,
	"lon" : vars.Long
}]]]></http:query-params>
		</http:request>
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c60d27bd-c4d0-424a-9c7c-f1f997012ab4" type="ANY">
							<ee:transform doc:name="Error Continue to handle the error" doc:id="dbdd2915-fb8e-4ab4-9c7b-044f3edebe08" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform the output data from both Reques into one payload" doc:id="7d7d4ae0-58a7-4a3f-9e35-111f9a5001ee">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="55250db2-49bc-4016-b70f-38ce0519dc76" >
			<when expression='#[payload[1].weather[0].description == "broken clouds"]'>
				<email:send doc:name="Send the mail to particular user when weather is not good" doc:id="708453ac-042f-4db2-980b-f8c74d361639" config-ref="Email_SMTP" fromAddress="rohitsharma09914@gmail.com" subject="Alert Mail">
					<email:to-addresses >
						<email:to-address value="rohitojhaa1@gmail.com" />
					</email:to-addresses>
					<email:body contentType="text/plain" >
						<email:content ><![CDATA[#["broken clouds"]]]></email:content>
					</email:body>
				</email:send>
			</when>
		</choice>
	</sub-flow>
</mule>
